/* Reset Styles
***********************/
html, body, div, span, applet, object, iframe, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
strong {font-weight: bold;}
em {font-style: italic;}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



html, body{
    font-family: 'Roboto', Helvetica, sans-serif, Arial;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6{
    margin: 15px 0;
    font-weight: 100;
}

h2{
    font-size: 35px;
}

p{
    font-size: 18px;
    line-height: 24px;
}

a{
    color: Black;
    text-decoration: none;
}

.centered{
    text-align: center;
}

.max-750{
    margin: 0 auto;
    max-width: 750px;
}

.max-75{
    margin: 0 auto;
    max-width: 75px;
}

/* background color */

.dark-grey{
    background: #363636;
}

.brown{
    background: #7c756b;
}

.yellow{
    /*background: #FFCC66;*/
    background: #DBAE32;
}

.black{
    background: Black;
}

.crimson{
    background: #F76B6D;
}

.blue{
    background: #006699;
}


/* text color */

.color-white{
    color: White;
}

/* hero */



.hero.bg1{
    background: url(../img/bgs/bg1.jpg) no-repeat;
}

.hero.bg2{
    background: url(../img/bgs/bg2.jpg) no-repeat;
}

.hero.bg3{
    background: url(../img/bgs/bg3.jpg) no-repeat;
}

.hero.bg4{
    background: url(../img/bgs/bg4.jpg) no-repeat;
}

.hero.bg5{
    background: url(../img/bgs/bg5.jpg) no-repeat;
}

.hero.bg6{
    background: url(../img/bgs/bg6.jpg) no-repeat;
}

.hero.bg1, .hero.bg2, .hero.bg3, .hero.bg4, .hero.bg5, .hero.bg6{
    text-align: center;
    height: 100vh;
    min-height: 480px;
    display: block;
    padding-top: 15%;
    position: relative;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}


.hero .hero-center{
    margin: 0 auto;
    max-width: 180px;
}

.hero .hero-center img{
    width: 100%;
    /*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;*/
}

a.hero-scroll{
    bottom: 20px;
    color: white;
    font-size: 32px;
    margin-left: -40px;
    padding: 30px;
    position: absolute;
    text-decoration: none;
}




/* btns */

a.btn{
    border: 1px solid Black;
    border-radius: 3px;
    color: Black;
    display: inline-block;
    padding: 15px;
    margin: 10px;
    text-decoration: none;
}

a.btn.white{
    border: 1px solid White;
    color: White;
}

/**/

.logo{
    color: #006699;
    font-size: 15px;
    letter-spacing: 0.12em;
    margin: 0 auto;
    max-width: 320px;
    text-align: center;
    width: 100%;
}

.logo img{
    margin-bottom: 5px;
    width: 100%;
}

section{
    padding: 50px 20px;
}

.content{
    margin: 0 auto;
    max-width: 1400px;
}

.half-block{
    display: inline-block;
    padding: 20px;
    vertical-align: middle;
    width: 100%;
}



/* thumb viewer */
img.viewer{
    margin-bottom: 3px;
    width: 100%;
}


/* contact form */

.contact form input, .contact form textarea{
    border: none;
    border-radius: 3px;
    font-size: 16px;
    margin: 3px 0;
    padding: 10px;
    width: 100%;
}

.contact form textarea{
    min-height: 100px;
}

.contact form input[type="submit"]{
    background: #000;
    color: #fff;
}



/* map overlay */

.map {
    width:100%;
    height:500px;   
}


.map-wrap {
    position:relative; 
}
    
.overlay {
    width:100%;
    min-height:500px; 
    position:absolute; 
    top:0;
}


/* check human */
#check-hum input {
    width: 20px;
}



/* software logos */

.software_logos{
    margin: 40px 0;
    overflow: hidden;
}

.software_logos ul{
    list-style: none;
}

.software_logos ul li{
    display: inline-block;
    height: 120px;
    text-align: center;
    width: 12%;
    min-width: 150px;
}

.software_logos ul li img{
    max-height: 50px;
    width: auto;
}


/* modal */

.inner-modal{ 
    text-align: left;
}

.inner-modal ul{
    list-style: disc;
    margin-left: 20px;
}

.inner-modal li{
    margin: 8px 0;
}





@media screen and (min-width: 900px) {

    .hero .hero-center{
        max-width: 320px;
    }

    .half-block{
        width: 48%;
    }

}




